body {
  background-color: #f0f4f3;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 80px;
}

.card {
  background-color: #ffffff;
  border-radius: 15px;
  border: none;
}

.btn-success {
  background-color: #28a745;
  border: none;
}

.btn-success:hover {
  background-color: #218838;
}
#cart-count {
  font-size: 0.7rem;
  padding: 5px 7px;
}



.profile-dropdown {
  border-radius: 12px;
  min-width: 220px;
  font-size: 14px;
}

.profile-dropdown .dropdown-item {
  padding: 10px 15px;
  transition: all 0.2s ease-in-out;
}

.profile-dropdown .dropdown-item:hover {
  background-color: #f8f9fa;
  color: #007bff;
  font-weight: 500;
}